@media (min-width: 768px) and (max-width: 1279px) {
  .notOnlySection {
    background-image: url(../assets/images/responsive-start-screen-gradient-background.png);
    position: relative;
    height: 1165px;
    margin-top: 0rem;
    background-size: cover;
  }
  .header {
    gap: 20%;
    margin-top: 4%;
    margin-left: 3.8%;
  }
  .notOnlyImageDiv {
    position: absolute;
    left: 16.9rem;
    right: 3rem;
    bottom: 0rem;
  }
  .notOnlyText {
    padding-top: 3%;
    padding-left: 1%;
    margin-top: -3%;
  }
  .notOnlyUl {
    padding-left: 3.3%;
  }
  .notOnlyButton {
    align-self: center;
  }
  /* ABOUT SECTION */
  .aboutSection {
    height: 1048px;
  }
  .aboutContent {
    flex-direction: column-reverse;
  }
  .aboutText {
    width: 64%;
    padding-bottom: 11%;
  }
  /* FRIENDS */
  .friendsContent {
    grid-template-columns: 0.3fr 1fr 1fr 0.3fr;
  }
  .articleWoody {
    display: none;
  }
  .friendsButton {
    grid-column: 2/4;
    margin-left: 1%;
  }
  .friendsH2 {
    grid-column: 1/5;
    margin-top: 5%;
    padding-left: 2%;
  }
  .articleKatrine {
    padding-right: 3%;
  }
  .articleJennifer {
    padding-left: 9%;
  }
  /* HELP */
  .helpSection {
    height: 780px;
    padding-left: 1%;
  }
  .helpContent {
    margin: 6rem 6.9rem 10rem 6.9rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: r1fr 1fr 1fr;
    row-gap: 5.5rem;
    column-gap: 6rem;
    justify-items: center;
    align-items: center;
  }
  /* DONATION */
  .donationSection {
    height: 785px;
  }
  .donationContent {
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    max-width: 100%;
    row-gap: 6rem;
  }
  .donationDogImg {
    max-width: 50.5rem;
    max-height: 26.1rem;
  }
  .donationCreditCard {
    margin-left: 3%;
  }
  .donationH6 {
    white-space: nowrap;
  }
  .donationH3 {
    padding-left: 3%;
  }
  .donationH6 {
    padding-left: 3%;
  }
  .donationP {
    padding-left: 3%;
  }
  .donationDogImg1 {
    max-width: 137%;
    margin-left: -6rem;
  }

  /* FOOTER */
  .footerSection {
    background-size: cover;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    height: 640px;
    background-image: url(../assets/images/responsive-footer-gradient-background.png);
  }
  .footerContacts {
    margin-left: 7.5%;
    margin-top: 3.9%;
  }
  .footer {
    flex-wrap: wrap;
  }
  .footerImage {
    position: absolute;
    top: 51%;
    left: 31%;
  }

  .footerForVisit {
    margin-bottom: 0%;
    margin-right: 7.5%;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  /* NOT ONLY SECTION */
  .notOnlySection {
    background-image: url(../assets/images/responsive-start-screen-gradient-background.png);
    height: 823px;
    margin-top: 0rem;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .notOnlyContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 30rem;
  }
  .notOnlySubtitleH2 {
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    padding-left: 3%;
  }
  .notOnlyP {
    padding-left: 2%;
  }
  .notOnlyImageDiv {
    margin-top: 22%;
    margin-left: 17%;
    width: 85%;
  }
  .header {
    width: 100%;
    gap: 20%;
    margin: 3rem -1rem 0rem 1rem;
  }
  .burger {
    display: inline-block;
    margin-left: -6%;
  }
  .notOnlyText {
    padding-top: 3%;
    padding-left: 1%;
    margin-top: -3%;
  }
  .notOnlyNav {
    display: none;
  }
  .notOnlyButton {
    align-self: center;
    margin-left: 3%;
  }
  /* ABOUT SECTION */
  .aboutSection {
    height: 974px;
    display: flex;
    justify-content: center;
    padding: 4.2rem 1rem 0rem 1rem;
  }
  .aboutContent {
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
  }
  .aboutText {
    text-align: center;
    max-width: 30rem;
    margin-bottom: 4.2rem;
    padding-left: 5%;
  }

  .aboutSubtitleH2 {
    letter-spacing: 0.06em;
    text-align: center;
    font-size: 2.5rem;
    line-height: 130%;
    margin: 0;
  }
  .aboutP1 {
    margin: 0;
    padding: 0rem 1.5rem;
    text-align: justify;
  }
  .aboutP2 {
    padding: 0rem 1.5rem;
    text-align: justify;
  }

  .dogsPhoto {
    padding: 0 2rem;
  }
  /* FRIENDS */
  .friendsSection {
    height: 791px;
  }
  .friendsContent {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-rows: 0.3fr 2fr 0.5fr 0.2fr;
    grid-template-columns: 1fr;
  }
  .friendsH2 {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 2.5rem;
    line-height: 130%;
    margin: 0;
    padding-left: 5%;
  }
  .articleKatrine {
    grid-column: 1/2;
    margin: 0;
    padding: 0;
    gap: 3rem;
  }
  .articleJennifer {
    display: none;
  }
  .articleWoody {
    display: none;
  }
  .arrow {
    grid-column: 1/2;
    grid-row: 3/4;
    margin: 0;
  }
  .friendsButton {
    grid-column: 1/2;
    margin-top: 10.3%;
    margin-left: 6%;
  }
  .arrowRight {
    margin-left: 15rem;
    margin-top: 4rem;
  }
  .arrowLeft {
    margin-right: 12rem;
    margin-top: 4rem;
  }
  .friendsPetName {
    padding-left: 7%;
  }
  .katherineImg {
    padding-top: 4rem;
  }
  /* HELP SECTION */
  .helpSection {
    height: 74.5rem;
    padding: 0rem 1.5rem 0rem 1.5rem;
  }
  .helpContent {
    margin: 0;
    padding: 0;
    column-gap: 3rem;
    row-gap: 3rem;
    justify-content: space-between;
    padding-left: 4rem;
    padding-top: 2rem;
  }
  .helpWrapper {
    margin: 0rem;
    padding: 0rem;
  }
  .helpH2 {
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    padding-right: 2rem;
  }
  .helpH3 {
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: 0.06em;
  }
  .helpImage {
    width: 5rem;
    height: 5rem;
  }
  .iconsAndTexts {
    gap: 2rem;
  }
  /* DONATION */
  .donationSection {
    padding: 0rem 1rem 4.2rem 1rem;
    height: auto;
  }
  .donationContent {
    flex-direction: column-reverse;
    justify-content: flex-end;
    margin: 0rem;
    text-align: center;
    gap: 0;
    width: 30rem;
    height: 46rem;
  }
  .donationH3 {
    font-size: 2.5rem;
    line-height: 130%;
    padding: 0;
  }
  .donationH6 {
    padding: 0;
  }
  .donationP {
    padding: 0;
  }
  .donationCreditCard {
    width: 281px;
    height: 43px;
    margin: 0;
  }
  .donationAnchor {
    margin: 0;
    font-size: 1.5rem;
    line-height: 110%;
  }
  /* FOOTER */
  .footerSection {
    height: 80.9rem;
    background-size: cover;
    padding: 0rem 1rem 0rem 1rem;
    align-items: center;
  }
  .footer {
    flex-direction: column;
  }
  .footerH3 {
    font-size: 2.5rem;
    line-height: 3.25rem;
  }
  .footerContacts, .footerForVisit{
    justify-content: center;
    text-align: center;
  }
  .footerImage{
    align-self: flex-end;
  }
}
