/* ALL */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
@font-face {
  src: url(../assets/fonts/ARIAL.TTF);
  font-family: "Arial";
  font-weight: 400;
}
@font-face {
  src: url(../assets/fonts/Georgia.ttf);
  font-family: "Georgia";
  font-weight: 400;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  margin: 0 auto;
  background-color: #f1cdb3;
}
a {
  color: black;
  text-decoration: none;
}
.hovered {
  position: relative;
  top: 0;
  transition: top ease 0.2s;
}
.hovered:hover,
.hovered:active {
  top: -0.7rem;
  cursor: pointer;
}
.hoveredButton {
  position: relative;
  top: 0;
  transition: top ease 0.2s;
}
.hoveredButton:hover,
.hoveredButton:active {
  background-color: #f1cdb3;
  top: -0.7rem;
  cursor: pointer;
}

/* HEADER SECTION */
.headerSection {
  display: flex;
  gap: 57rem;
  align-items: center;
  margin: 0 auto;
  width: 1280px;
  height: 12rem;
  background-color: #ffffff;
  padding: 3rem 4rem 3rem 4rem;
}
.notOnlyLogo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  gap: 1rem;
}
.notOnlyH1 {
  font-family: "Georgia";
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  white-space: nowrap;
}
.burger {
  display: none;
}
.notOnlySubtitleH6 {
  font-family: "Arial";
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  color: #292929;
  white-space: nowrap;
}
.notOnlyUl {
  display: flex;
  gap: 3.5rem;
}
.notOnlyAnchor,
.mainAnchor {
  white-space: nowrap;
}
.notOnlyAnchor {
  font-family: "Arial";
  font-size: 1.5rem;
  line-height: 160%;
  color: #292929;
}
.underlined {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 3px;
  text-decoration-color: #f1cdb3;
}
.underlined:hover,
.underlined:active {
  top: -0.5rem;
}
.notOnlyAnchor:hover,
.notOnlyAnchor:active {
  position: relative;
  top: 0;
  transition: top ease 1s;
  text-decoration: underline;
  top: -0.2rem;
  text-decoration-thickness: 3px;
  text-underline-offset: 0.3rem;
  text-decoration-color: #f1cdb3;
}
.mainAnchor {
  font-family: "Arial";
  font-size: 1.5rem;
  line-height: 160%;
  color: #292929;
}
/* MAIN SECTION */

.mainSection {
  margin: 0 auto;
  width: 1280px;
  height: 1342px;
  background: #f6f6f6;
  padding: 8rem 4rem 10rem 4rem;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.5rem;
}
.ourPets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0rem 1.5rem 0rem;
  row-gap: 6rem;
  column-gap: 4rem;
}
.mainH3 {
  text-align: center;
  font-family: "Georgia";
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.friendsflex {
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #fafafa;
  border-radius: 9px;
  gap: 3rem;
}
.petArticleHover {
  position: relative;
  top: 0;
  transition: top ease 0.1s;
  cursor: pointer;
}
.petArticleHover:hover {
  background-color: #ffffff;
}
.petArticleHover:hover > .friendsPetButton {
  background-color: #f1cdb3;
  top: -0.5rem;
  cursor: pointer;
}
.friendsPetButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18.7rem;
  height: 5.2rem;
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
}
.PinButton {
  font-family: "Georgia";
  font-size: 1.7rem;
  color: #292929;
  letter-spacing: 0.06em;
  line-height: 130%;
}
.friendsPetName {
  font-family: "Georgia";
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding-top: 2%;
}
.arrow {
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
  width: 5.2rem;
  height: 5.2rem;
  font-family: "Georgia";
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #292929;
}
.innerbg:hover,
.innerbg:active {
  cursor: pointer;
  top: -0.2rem;
}
.innerArrow {
  color: #cdcdcd;
  border: 2px solid #cdcdcd;
}
.innerMiddle {
  background: #f1cdb3;
  border-radius: 100px;
}
.innerbg {
  position: relative;
  top: 0;
  transition: top ease 0.1s;
  background-color: #fafafa;
}

/* FOOTER SECTION */
.footerSection {
  background-image: url(../assets/images/footer-gradient-background.png);
  height: 350px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-left: 1.3%;
}
.footer {
  width: 120rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footerContacts {
  gap: 4rem;
  margin-bottom: 3%;
}
.footerForVisit {
  gap: 3.4rem;
  margin-bottom: 3.3%;
  margin-right: 0.5%;
}
.footerH3 {
  font-family: "Georgia";
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.forIconsFlex {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
.footerP {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  text-align: left;
}
img {
  max-width: 100%;
}
.helpImage {
  width: 6rem;
  height: 6rem;
}
.footerH3320 {
  display: none;
}
.mainH3360{
  display: none;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .headerSection {
    gap: 8.5rem;
    height: auto;
    width: auto;
    background-size: cover;
    padding: 3rem 4rem 3rem 3rem;
  }
  .mainSection {
    padding: 0;
    padding: 6rem 3rem 0rem 3rem;
    height: auto;
    width: auto;
    background-size: cover;
  }
  .mainContainer {
    padding: 0;
    padding: 2rem 4.8rem 7.5rem 6.3rem;
    gap: 3rem;
  }
  .ourPets {
    padding: 0;
    column-gap: 4rem;
    row-gap: 6rem;
    justify-content: normal;
  }
  .scarlet {
    display: none;
  }
  .freddie {
    display: none;
  }
  .icons {
    padding-top: 7%;
  }
  /* footer */
  .footerSection {
    background-size: cover;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    height: 640px;
    background-image: url(../assets/images/responsive-footer-gradient-background.png);
  }
  .footerContacts {
    margin-left: 7.5%;
    margin-top: 3.9%;
  }
  .footer {
    flex-wrap: wrap;
  }
  .footerImage {
    position: absolute;
    top: 51%;
    left: 31%;
  }
  .footerForVisit {
    margin-right: 7.5%;
    margin-bottom: -1.2%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .headerSection {
    padding: 0;
    margin: 0;
    padding: 3rem 5rem 3rem 1rem;
    gap: 4.3rem;
    width: auto;
    overflow: hidden;
  }
  .burger {
    display: inline-block;
  }
  .mainContainer {
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
    padding: 0rem 1.5rem 4.2rem 1.5rem;
    overflow: hidden;
    gap: 4.2rem;
  }
  .mainSection {
    width: auto;
    margin: 0;
    padding: 0;
    height: auto;
    padding: 4.2rem 1rem 0rem 1rem;
  }
  .ourPets {
    padding:0;
    display: flex;
    flex-direction: column;
    row-gap: 6rem;
  }
  .notOnlyNav {
    display: none;
  }
  .scarlet {
    display: none;
  }
  .sophia {
    display: none;
  }
  .charley {
    display: none;
  }
  .freddie {
    display: none;
  }
  .timmy {
    display: none;
  }
  .icons {
    gap: 1rem;
    padding-top: 11%;

  }
  /* FONTS */
  .mainH3 {
    font-family: "Georgia";
    font-size: 2.5rem;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    white-space: nowrap;
  }
  /* FOOTER */
  .footerSection {
    height: 80.9rem;
    background-size: cover;
    padding: 0rem 1rem 0rem 1rem;
    align-items: flex-start;

  }
  .footer {
    flex-direction: column;
  }
  .footerH3 {
    display: none;
  }
  .footerContacts,
  .footerForVisit {
    justify-content: center;
    padding-right: 1%;
    font-size: 2.5rem;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
  }
  .footerH3320{
    font-family: 'Georgia';
    font-size: 2.5rem;
    line-height: 3.25rem;
    color: white;
    display: block;
  }
  .footerContacts{
    gap: 3rem;
    padding-top: 9.5%;
  }
  .footerForVisit{
    gap: 1.7rem;
    padding-top: 8%;

  }
  .tel{
    padding-left: 1.5%;
    padding-top: 1%;
  }
  .email{
    padding-top: 4%;
  }
  .emailP{
    padding-bottom: 3%;
  }
  .footerImage {
    align-self: flex-end;
    padding-top: 10%;
    padding-left: 6%;
    padding-right: 6%;
  }
  .locP{
    padding-top: 7.4%;

  }
  .locP2{
    padding-top: 9%;

  }
  .pinIcon{
    padding-top: 8%;
  }
}
